@import (reference) "mixin.less";
@import "fonts.less";
@import "header.less";
@import "main.less";

* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

html {
	font-size: 10px;
}

body {
	font-family: "VDSCompensatedLight";
	font-weight: 100;
	font-size: 16px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: #333;
	}
}

#page {
	overflow-x: hidden;
}

.container-fluid {
	padding: 0;
}

.container {
    min-width: 320px;
    max-width: 1170px;
    padding: 5rem 0 0 15%;
    margin: 0 auto;
}

.row {
	.flexbox;
	.justify-content(flex-start);
	.flex-flow(row,wrap);
    margin: 0 0 5rem;
}


/*Заголовки*/

.title_small {
	font-weight: 700;
	padding: 1rem 0;
}

.title_middle {
	color: @color_theme_secondary;
	font-size: 2.6rem;
	font-weight: 700;
	margin: 2rem 0 5rem 0;
	.flex(1,1,100%);
}

.title_large {
	color: @color_theme_other;
	text-align: center;
}

@import "screen.less";
