@media screen and (max-width: 980px) {
	.container {
		width: 100%;
	}

	.welcome {
		width: 29rem;
		margin-right: 15rem;
	}

	.welcome_item {
		display: none;
	}

	.welcome_massage {
		top: 20%;
	}

	.welcome_massage,
	.welcome_massage .title_big {
		color: #fff;
	}

	.arrow {
		border: .3rem #fff solid;
		left: 40%;
		bottom: -32%;
	}

	.arrow:after {
		background: #fff;
	}

	.arrow:before {
		border: #fff solid;
		border-width: 0 .7rem .7rem 0;
	}
}

@media screen and (max-width: 530px) {
	.container {
		justify-content: center;
	    align-items: center;
	}

	.title.title_small {
		order: 2;
	}

	.title_big {
		text-align: center;
		line-height: 6rem;
	}

	.contacts {
		order: 1;
		margin-left: 30%;
	}

	.welcome {
		margin: 0;
	}

	.welcome_massage {
		left: 0;
	}

	.footpace {
		margin: 5rem 1rem !important;
	}
}