/*Подключаемые иконки*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?trp6yc');
  src: url('../fonts/icomoon.eot?trp6yc#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?trp6yc') format('truetype'), url('../fonts/icomoon.woff?trp6yc') format('woff'), url('../fonts/icomoon.svg?trp6yc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 4.4rem;
  color: #1695a4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-file-text:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e901";
}
.icon-study:before {
  content: "\e902";
}
.icon-calendar2:before {
  content: "\e903";
}
.icon-wallet:before {
  content: "\e904";
}
/*подключаемые шрифты*/
@font-face {
  font-family: "LobsterRegular";
  src: url("../fonts/lobsterRegular.eot");
  src: url("../fonts/lobsterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lobsterRegular.woff") format("woff"), url("../fonts/lobsterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*Подключаемые цвета*/
/*Подключаемые стили*/
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
html {
  font-size: 10px;
}
body {
  font-size: 16px;
  font-family: open sans, sans-serif;
  font-weight: 300;
  color: #503e58;
}
a {
  color: #aa74c4;
}
a:hover {
  color: #96bbc2;
}
#page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}
.container {
  width: 90rem;
  padding-top: 10rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row wrap;
}
/*Заголовки*/
.reviews_title {
  font-family: Georgia, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #747474;
}
.title {
  font-family: 'LobsterRegular';
  font-weight: 500;
  color: #aa74c4;
}
.title_litle {
  font-family: 'RobotoRegular';
  font-weight: 100;
  font-size: 2.4rem;
  color: #1695a4;
  display: inline-block;
  vertical-align: top;
  padding-left: .5rem;
}
.title_large {
  font-style: italic;
  font-size: 4.5rem;
}
.title_middle {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.title_large {
  color: #aa74c4;
  font-size: 4rem;
  margin-top: 3rem;
}
.title_big {
  font-size: 4.2rem;
  line-height: 4rem;
  padding-bottom: 5rem;
  flex: 1 1 100%;
}
.b-callback-title {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
/*Menu*/
.menu {
  width: 100%;
  height: 2rem;
  padding: 2rem 0;
  background-color: #aa74c4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: fixed;
  left: 0;
  z-index: 2;
}
.menu_item {
  margin-right: 7rem;
  position: relative;
}
.menu_item:last-of-type {
  margin: 0;
}
.menu_link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
.menu_link:hover {
  text-decoration: underline;
  color: #ffffff;
}
.menu_dropdown {
  position: absolute;
  top: 4rem;
  left: -2rem;
  background-color: #aa74c4;
  padding: 2rem;
}
.menu_dropdown {
  display: none;
}
.show {
  display: block;
}
.menu_dropdown_item {
  display: list-item;
  margin-bottom: 2rem;
}
.menu_dropdown_item:last-of-type {
  margin: 0;
}
/*шапка*/
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 9rem 0 0;
}
.header_layout {
  width: 10rem;
  line-height: 2.4rem;
}
.contacts {
  width: 15rem;
  text-align: right;
}
.contacts a {
  font-size: 1.4rem;
}
.phone {
  font-family: 'LobsterRegular';
  font-size: 2.2rem;
  margin-bottom: .5rem;
}
/*контент*/
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-bottom: 4.7rem;
}
.home {
  background: url(../images/home_background.jpg) no-repeat center bottom;
  height: 53.6rem;
  justify-content: flex-end;
}
.welcome {
  width: 52rem;
  height: 47rem;
}
.welcome_item {
  height: 51.5rem;
  position: absolute;
  right: 7rem;
  z-index: 0;
}
.welcome_item .welcome_container:nth-of-type(1) {
  height: 27rem;
  width: 27rem;
}
.welcome_item .welcome_container:nth-of-type(2) {
  height: 19.2rem;
  width: 19.2rem;
}
.welcome_item .welcome_container:nth-of-type(3) {
  height: 21rem;
  width: 22.7rem;
}
.welcome_item .welcome_container:nth-of-type(4) {
  height: 25rem;
  width: 25rem;
}
.welcome_massage {
  position: relative;
  top: 39%;
  left: 30%;
}
.welcome_massage .title_big {
  padding-bottom: 0;
}
.welcome_container {
  height: 4rem;
  width: 4rem;
  display: block;
  position: relative;
  z-index: 1;
}
.circle {
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  background: #ffffff;
}
.circle:nth-of-type(1) {
  border-radius: 13rem;
  -webkit-border-radius: 13rem;
  -moz-border-radius: 13rem;
  top: 5.5rem;
  right: 3.7rem;
}
.circle:nth-of-type(2) {
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  bottom: 4.5rem;
  right: 12.7rem;
}
.circle:nth-of-type(3) {
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  bottom: 20.5rem;
  left: 2.1rem;
}
.circle:nth-of-type(4) {
  border-radius: 11rem;
  -webkit-border-radius: 11rem;
  -moz-border-radius: 11rem;
  bottom: 51.2rem;
  left: 12.8rem;
}
.welcome_info {
  width: 32.5rem;
  margin-top: 2rem;
}
.arrow {
  border: 0.3rem #aa74c4 solid;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  left: -18%;
  bottom: -2%;
}
.arrow:before {
  content: '';
  height: 2.5rem;
  width: 2.5rem;
  display: block;
  border: #aa74c4 solid;
  border-width: 0 .7rem .7rem 0;
  position: absolute;
  bottom: 28%;
  left: 29%;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
}
.arrow:after {
  content: '';
  height: 3.4rem;
  width: .9rem;
  display: block;
  background: #aa74c4;
  position: absolute;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  top: 29%;
  left: 43%;
}
/*Акция*/
.share_info {
  width: 45.8rem;
  height: 44.3rem;
  flex: 0 1;
}
.order_form {
  width: 40.6rem;
  background: url(../images/form_background.jpg) no-repeat;
  color: #ffffff;
  font-size: 1.6rem;
  margin-left: 3rem;
  text-align: center;
  flex: 1 1;
}
.order_form .title_large {
  color: #ffffff;
}
.application_cell {
  width: 27.6rem;
  background-color: #9765ae;
  color: #ffffff;
  padding: 1rem 0 1rem 1rem;
  margin: .5rem 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
}
textarea.application_cell {
  max-width: 27.6rem;
  min-height: 11rem;
}
.comment {
  padding: 1rem 0 5.5rem 1rem;
}
.button {
  height: 5rem;
  font-size: 2rem;
  background-color: #503e58;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  margin-top: 2rem;
  padding: 0 11.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
}
input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}
input[type="text"]::-moz-placeholder {
  color: #ffffff;
}
textarea::-webkit-input-placeholder {
  color: #ffffff !important;
}
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff !important;
}
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff !important;
}
textarea:-ms-input-placeholder {
  color: #ffffff !important;
}
:focus::-webkit-input-placeholder {
  color: transparent !important;
}
:focus::-moz-placeholder {
  color: transparent !important;
}
:focus:-moz-placeholder {
  color: transparent !important;
}
:focus:-ms-input-placeholder {
  color: transparent !important;
}
.application_form_item {
  margin: 2rem 0;
}
/*Форма звонка*/
.b-callback {
  position: absolute;
  right: 0;
  width: 340px;
  height: 345px;
  background: url(../images/form_background.jpg) no-repeat;
  z-index: 1;
}
.footer-b-callback {
  bottom: 7rem;
}
.b-callback-inner {
  position: relative;
  height: 250px;
  padding: 35px 24px 24px 24px;
}
.b-callback-text {
  color: #1a4078;
  background: #fff;
  font-size: 14px;
  height: 30px;
  width: 280px;
  padding-left: 10px;
}
.b-callback-text-wrap {
  margin-bottom: 24px;
  height: 30px;
}
.b-callback-button {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background: #1a4078;
  font-size: 12px;
  padding: 9px 30px;
}
.b-callback-button-wrap {
  text-align: center;
}
.b-callback-close {
  color: #fff !important;
  cursor: pointer;
  font-size: 2.22222rem;
  line-height: 1;
  position: absolute;
  top: 0.55556rem;
  right: 1.22222rem;
  text-shadow: none;
}
.b-callback.footer-b-callback {
  bottom: 53px;
  right: 153px;
}
/*Преимущество компании*/
.advantages {
  background: url(../images/advantage_background.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.advantages .container {
  justify-content: center;
}
.advantage {
  display: inline-block;
  width: 30rem;
  vertical-align: top;
}
.advantage_img {
  display: inline-block;
  margin-right: 2rem;
}
.advantages_layout {
  margin-top: 3.6rem;
}
.advantages_layout:nth-of-type(4) .details {
  font-weight: 700;
}
.details,
.advantage_list_item {
  line-height: 2.4rem;
}
/*Как работает компания*/
.how_works {
  color: #2c5871;
}
.how_works .title_big {
  font-family: 'RobotoRegular', sans-serif;
  color: #2c5871;
  font-size: 6rem;
  text-align: center;
}
.footpace {
  width: 24.5rem;
  flex: 0 1 20rem;
  margin: 0 5rem 5rem 0;
  font-family: 'RobotoRegular', sans-serif;
}
.footpace:nth-of-type(3n+3) {
  margin: 0 0 5rem 0;
}
.footpace:nth-of-type(3n+2) {
  margin: 0 10rem 5rem 0;
}
.footpace .details {
  margin-top: 1.5rem;
}
.icon-delivery {
  background: url(../images/i6-6.png) no-repeat;
}
.small_item {
  width: 4.4rem;
  height: 4.6rem;
  display: inline-block;
}
/*Отзывы*/
.reviews .order_form {
  padding: 2rem;
  flex: 0 1;
}
.slide_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  flex: 1 1;
  border: 0.3rem solid #96bbc2;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  padding: 1.5rem;
}
.right_part {
  padding-top: 1.5rem;
}
.reviews_details {
  font-family: Georgia, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
}
/*Примеры работ*/
.examples .button {
  height: 2.3rem;
  padding: 1.7rem 4rem;
  margin: 0;
  text-decoration: none;
  flex: 0 1 16rem;
  text-align: center;
}
.gallery_slide {
  flex: 1 1 100%;
}
.gallery_slide_layout {
  margin: 5rem 0;
}
/*Gallery*/
.g-slide_wrapper {
  margin: 2rem;
}
.g-slide_wrapper a {
  text-decoration: none;
  text-align: center;
}
.gallery_img {
  width: 17vw;
  margin-bottom: 2rem;
}
.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row wrap;
}
.gallery_item {
  flex: 1 1 20rem;
  position: relative;
  text-align: center;
  margin: 1rem;
}
.gallery_item img {
  width: 100%;
}
/*Футер*/
.footer {
  height: 1rem;
  min-width: 100%;
  background-color: #aa74c4;
  padding: 2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .container {
  padding: 0;
  justify-content: flex-end;
}
.copyright {
  color: #ffffff;
}
.fancybox-custom .fancybox-skin {
  box-shadow: 0 0 50px #222;
}
