/*Подключаемые иконки*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?trp6yc');
  src: url('../fonts/icomoon.eot?trp6yc#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?trp6yc') format('truetype'), url('../fonts/icomoon.woff?trp6yc') format('woff'), url('../fonts/icomoon.svg?trp6yc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 3.4rem;
  color: #1695a4;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-file-text:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e901";
}
.icon-study:before {
  content: "\e902";
}
.icon-calendar2:before {
  content: "\e903";
}
.icon-wallet:before {
  content: "\e904";
}
/*подключаемые шрифты*/
@font-face {
  font-family: "LobsterRegular";
  src: url("../fonts/lobsterRegular.eot");
  src: url("../fonts/lobsterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lobsterRegular.woff") format("woff"), url("../fonts/lobsterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*Menu*/
.button__menu_icon {
  display: none;
}
.top_menu {
  width: 100%;
  height: 2rem;
  padding: 2rem 0;
  background-color: #aa74c4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  z-index: 2;
}
.top_menu .container {
  padding: 0;
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu_item {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 17rem;
  position: relative;
}
.menu_item:last-of-type {
  margin: 0;
}
.menu_link {
  color: #ffffff;
  text-decoration: none;
}
.menu_link:hover {
  text-decoration: underline;
  color: #ffffff;
}
.menu_dropdown {
  position: absolute;
  top: 4rem;
  left: -2rem;
  background-color: #aa74c4;
  padding: 2rem;
}
.menu_dropdown {
  display: none;
}
.show {
  display: block;
}
.menu_dropdown_item {
  display: list-item;
  margin-bottom: 2rem;
}
.menu_dropdown_item:last-of-type {
  margin: 0;
}
/*шапка*/
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  position: relative;
  padding: 3rem 0;
}
.header_layout {
  width: 10rem;
  line-height: 2.4rem;
}
.contacts {
  width: 15rem;
  position: relative;
  text-align: right;
}
svg.vk-ikon {
  fill: #503e58;
}
.phone {
  font-family: 'LobsterRegular';
  font-size: 2.2rem;
  margin-bottom: .5rem;
}
/*контент*/
.content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-bottom: 4.7rem;
}
.content.g-content {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.home {
  background: url(../images/home_background.jpg) no-repeat center bottom;
  height: 53.6rem;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.welcome {
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 4.5rem;
  padding: 3rem;
}
.welcome_massage .title_big {
  padding: 0 0 2rem 0;
}
.welcome_container {
  height: 4rem;
  width: 4rem;
  display: block;
  position: relative;
  z-index: 1;
}
.welcome_info {
  width: 32.5rem;
  margin-top: 2rem;
}
.arrow {
  border: 0.3rem #aa74c4 solid;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  left: 31%;
  top: 2rem;
}
.arrow:before {
  content: '';
  height: 2.5rem;
  width: 2.5rem;
  display: block;
  border: #aa74c4 solid;
  border-width: 0 .7rem .7rem 0;
  position: absolute;
  bottom: 28%;
  left: 29%;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
}
.arrow:after {
  content: '';
  height: 3.4rem;
  width: .9rem;
  display: block;
  background: #aa74c4;
  position: absolute;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  top: 29%;
  left: 43%;
}
/*Акция*/
.share_info {
  width: 45.8rem;
  height: 44.3rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 0;
  -ms-flex: 0 1 0;
  flex: 0 1 0;
}
.order_form {
  width: 40.6rem;
  background: url(../images/form_background.jpg) no-repeat;
  color: #ffffff;
  font-size: 1.6rem;
  margin-left: 3rem;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}
.order_form .title_large {
  color: #ffffff;
}
.application_cell {
  width: 27.6rem;
  background-color: #9765ae;
  color: #ffffff;
  padding: 1rem 0 1rem 1rem;
  margin: .5rem 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
}
textarea.application_cell {
  max-width: 27.6rem;
  min-height: 11rem;
}
.comment {
  padding: 1rem 0 5.5rem 1rem;
}
.button {
  height: 5rem;
  font-size: 2rem;
  background-color: #503e58;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  margin-top: 2rem;
  padding: 0 11.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
}
input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}
input[type="text"]::-moz-placeholder {
  color: #ffffff;
}
textarea::-webkit-input-placeholder {
  color: #ffffff !important;
}
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff !important;
}
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff !important;
}
textarea:-ms-input-placeholder {
  color: #ffffff !important;
}
:focus::-webkit-input-placeholder {
  color: transparent !important;
}
:focus::-moz-placeholder {
  color: transparent !important;
}
:focus:-moz-placeholder {
  color: transparent !important;
}
:focus:-ms-input-placeholder {
  color: transparent !important;
}
.application_form_item {
  margin: 2rem 0;
}
/*Преимущество компании*/
.advantage {
  display: inline-block;
  width: 30rem;
  vertical-align: top;
}
.advantage_img {
  display: inline-block;
  margin-right: 2rem;
}
.advantages_layout {
  margin-top: 3.6rem;
}
.advantages_layout:nth-of-type(4) .details {
  font-weight: 700;
}
.details,
.advantage_list_item {
  line-height: 2.4rem;
}
/*Как работает компания*/
.how_works {
  color: #2c5871;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.how_works .title_big {
  font-family: 'RobotoRegular', sans-serif;
  color: #2c5871;
  font-size: 6rem;
  text-align: center;
}
.footpace {
  width: 24.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 23rem;
  -ms-flex: 0 1 23rem;
  flex: 0 1 23rem;
  font-family: 'RobotoRegular', sans-serif;
  margin: 2rem 0;
}
.footpace .details {
  margin-top: 1.5rem;
  display: block;
}
.icon-delivery {
  background: url(../images/i6-6.png) no-repeat;
}
.small_item {
  width: 4.4rem;
  height: 4.6rem;
  display: inline-block;
}
/*Отзывы*/
.reviews .order_form {
  padding: 2rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 0;
  -ms-flex: 0 1 0;
  flex: 0 1 0;
}
.slide_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  border: 0.3rem solid #96bbc2;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  padding: 1.5rem;
}
.reviews_details {
  font-family: Georgia, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
}
/*Примеры работ*/
.gallery_slide {
  margin: 5rem 0;
}
/*Gallery*/
.g-slide_wrapper {
  margin: 1rem;
}
.g-slide_wrapper a {
  text-decoration: none;
  text-align: center;
}
.gallery_img {
  height: 30rem;
  margin-bottom: 2rem;
}
.gallery {
  width: 100%;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.gallery_item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 15rem;
  -ms-flex: 0 1 15rem;
  flex: 0 1 15rem;
  position: relative;
  text-align: center;
  margin: 1rem;
}
.gallery_item img {
  height: 11rem;
}
.cask.gallery_item img {
  height: 20rem;
}
.dolls.gallery_item img {
  height: 28rem;
}
.fancybox-custom .fancybox-skin {
  box-shadow: 0 0 50px #222;
}
/*Форма звонка*/
.b-callback {
  position: absolute;
  right: 0;
  width: 340px;
  height: 345px;
  background: url(../images/form_background.jpg) no-repeat;
  z-index: 2;
}
.b-callback-inner {
  position: relative;
  height: 250px;
  padding: 35px 24px 24px 24px;
}
.b-callback-text {
  color: #1a4078;
  background: #fff;
  font-size: 14px;
  height: 30px;
  width: 280px;
  padding-left: 10px;
}
.b-callback-text-wrap {
  margin-bottom: 24px;
  height: 30px;
}
.b-callback-button {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background: #1a4078;
  font-size: 12px;
  padding: 9px 30px;
}
.b-callback-button-wrap {
  text-align: center;
}
.b-callback-close {
  color: #fff !important;
  cursor: pointer;
  font-size: 2.22222rem;
  line-height: 1;
  position: absolute;
  top: 0.55556rem;
  right: 1.22222rem;
  text-shadow: none;
}
.b-callback.footer-b-callback {
  bottom: 53px;
  right: 153px;
}
/*Футер*/
.footer {
  height: 1rem;
  min-width: 100%;
  background-color: #aa74c4;
  padding: 2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer .container {
  padding: 0;
}
.copyright {
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
html {
  font-size: 10px;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: open sans, sans-serif;
  font-weight: 300;
  color: #503e58;
}
a {
  color: #aa74c4;
}
a:hover {
  color: #96bbc2;
}
#page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  min-height: 100%;
}
.container {
  padding: 5rem 0 2rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.container_fluid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.wrapper_inner {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 2rem 0;
}
/*Заголовки*/
.reviews_title {
  font-family: Georgia, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #747474;
}
.title {
  font-family: 'LobsterRegular';
  font-weight: 500;
  color: #aa74c4;
}
.title_litle {
  font-family: 'RobotoRegular';
  font-weight: 100;
  font-size: 2.4rem;
  color: #1695a4;
  display: inline-block;
  vertical-align: middle;
  padding-left: .5rem;
}
.title_large {
  font-style: italic;
  font-size: 4.5rem;
}
.title_middle {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.title_large {
  color: #aa74c4;
  font-size: 4rem;
  margin-top: 3rem;
}
.title_big {
  font-size: 4.2rem;
  line-height: 4rem;
  padding: 0 0 5rem 0;
  flex: 1 1 100%;
}
.b-callback-title {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .container {
    width: 900px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    min-width: 310px;
    max-width: 900px;
    padding: 5rem 1rem 0;
  }
  .wrapper {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
  .button__menu_icon {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 7rem;
    -ms-flex: 0 1 7rem;
    flex: 0 1 7rem;
  }
  .menu {
    display: none;
  }
  .show {
    display: block;
    background: #b78bcc;
    width: 100vw;
    position: relative;
    text-align: center;
    padding: 15% 0;
  }
  .menu_item {
    font-size: 3rem;
    margin: 0 0 5rem;
  }
  .menu__link {
    margin: 5rem auto;
    display: block;
  }
  .home {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
  }
  .title.title_small {
    order: 2;
  }
  .title_big {
    font-size: 3.9rem;
    line-height: 6rem;
    text-align: center;
    padding: 1rem 0;
  }
  .how_works .title_big {
    font-size: 5rem;
  }
  .share_info {
    width: 100%;
    height: auto;
  }
  .share_info img {
    width: 31rem;
  }
  .advantages {
    padding-bottom: 2rem;
  }
  .advantages_layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .advantage_img {
    margin: 0;
  }
  .advantage_img img {
    width: 90%;
  }
  .b-callback.footer-b-callback {
    bottom: 0;
    right: 0;
  }
}
@media screen and (max-width: 700px) {
  .header .title_large {
    padding: 0;
    margin: 0;
  }
  .gallery_img {
    width: 100%;
  }
  .order_form {
    background-repeat: repeat;
    background-position: center;
    margin: 0;
  }
}
@media screen and (max-width: 650px) {
  .contacts {
    order: 1;
  }
  .header .title_large {
    order: 2;
    text-align: center;
  }
  .button_contact.button {
    right: 20%;
    bottom: -5rem;
  }
  .gallery_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 12rem;
    -ms-flex: 1 1 12rem;
    flex: 1 1 12rem;
  }
}
@media screen and (min-width: 310px) and (max-width: 410px) {
  .container {
    width: 310px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container,
  .content {
    display: block !important;
  }
  .order_form,
  .order_form .title_large {
    color: #aa74c4;
  }
  .order_form {
    background: url(../images/form_background.jpg) no-repeat;
  }
  .title_large {
    margin: 0;
  }
}
