/*Подключаемые шрифты*/
/*Подключаемые шрифты*/
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
html {
  font-size: 10px;
}
body {
  font-family: PT Sans;
  font-size: 1.8rem;
  background-color: #000;
}
.container {
  margin: 0 auto;
}
/*Titles*/
.title {
  font-size: 4.8rem;
  margin-bottom: 3rem;
  color: #fad027;
  text-align: center;
}
.title_small {
  font-size: 2.8rem;
  text-align: left;
  line-height: 3.2rem;
}
/*Date*/
.date {
  background-color: #fad027;
  padding: 1rem 0 .5rem 0;
  font-size: 1.4rem;
  float: left;
  line-height: 2.4rem;
  width: 6rem;
  text-align: center;
  font-weight: 700;
}
.date:first-line {
  font-size: 3.6rem;
}
/*Menu*/
.menu_layout {
  width: 100%;
  background-color: #000;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.menu {
  border-bottom: 0.5rem solid #fad027;
  font-size: 2.2rem;
  padding-top: 4.5rem;
}
.menu__link {
  color: #ffffff;
  margin: 0 2.9rem 1rem 0;
  display: inline-block;
  transition: color 0.4s ease-in;
  text-decoration: none;
  font-weight: 700;
}
.menu__link:hover {
  color: #fad027;
}
.menu__link:last-of-type {
  margin: 0 0 1rem 0;
}
/*Header*/
.header {
  margin-top: 8rem;
}
.header__logo {
  background: url(../images/logo.png) no-repeat 0 11rem;
  width: 62.3rem;
  height: 20.2rem;
  background-size: 100%;
  margin: 0 auto;
  padding: 11rem 0;
}
/*About club*/
.about-club {
  background-color: #fad027;
  padding: 8.5rem 0 9rem 0;
  text-align: center;
}
.about-club__container {
  width: 55.5rem;
}
.about-club__container .title {
  color: #000;
}
/*Slider*/
.slider {
  position: relative;
}
#slider {
  overflow: hidden;
  margin: 0 auto;
}
.slider__item {
  background: url(../images/bar.jpg) no-repeat center top;
  padding: 24rem 0;
  width: 102rem;
  height: 26rem;
  float: left;
}
.slider__list {
  transition: .3s;
  color: #ffffff;
  text-align: center;
  height: 68rem;
}
.slider__list:after {
  content: '';
  display: block;
  clear: both;
}
.slider__list .title {
  color: #ffffff;
}
.slider__item--inner {
  width: 49rem;
  margin: 0 auto;
  padding: 3rem 5.5rem 2.5rem 5.5rem;
  border: 0.5rem solid #ffffff;
}
.slider__controls {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.slider__controls-button:before {
  content: '';
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #ffffff;
  position: absolute;
  left: 4%;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.slider__controls-button:before {
  border-right-width: 0;
  border-bottom-width: 0;
}
.slider__controls-button:hover {
  cursor: pointer;
}
.slider__controls-button--next:before {
  border: 0.5rem solid #ffffff;
  border-left-width: 0;
  border-top-width: 0;
  left: 92%;
}
/*News*/
.news {
  padding: 9rem 0 0;
}
.news__left-column {
  width: 23%;
  float: left;
  font-weight: 700;
}
.news__left-column .title_small {
  float: right;
  width: 14.5rem;
}
.news__left-column:after {
  content: "";
  clear: both;
  display: block;
}
.news__line {
  margin-bottom: 5rem;
}
.news__line:after {
  content: "";
  clear: both;
  display: block;
}
.news__right-column {
  width: 45%;
  float: right;
  color: #ffffff;
  padding: 3.5rem 2.5rem 4rem 2.5rem;
  text-align: left;
  border: .5rem solid #292929;
}
.news__right-column:hover {
  border: 0.5rem solid #ffffff;
}
/*Gallery*/
.gallery_wrap {
  position: relative;
  padding: 5rem 0 0 0;
}
.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-size: 0;
  margin: 0 auto;
}
.gallery__item:hover {
  position: relative;
  box-shadow: 0 0 0 0.4rem #fad027;
}
/*Events*/
.events {
  padding: 9.5rem 0;
}
.event__line:after {
  content: "";
  clear: both;
  display: block;
}
.event__line .title_small {
  margin-bottom: 3rem;
}
.event__left-column {
  width: 30%;
  float: left;
}
.event__left-column .date {
  float: right;
}
.event__left-column .title_small {
  text-align: right;
}
.event__right-column {
  float: right;
  width: 48%;
  padding: 0 0 6.5rem 4rem;
  border-left: .5rem solid #292929;
}
.event__right-column:after {
  content: "";
  clear: both;
  display: block;
}
.event__right-column_last {
  padding-bottom: 0;
}
.event_poster {
  float: left;
}
/*Reviews*/
.review {
  background-color: #fad027;
  padding: 8rem 0 8.5rem 0;
}
.review .title {
  color: #000;
}
.review .top_line {
  width: 10%;
}
.review .post__item:after {
  height: 35%;
  bottom: 0;
}
.review .post__item:before {
  top: 0;
}
.review .post__item:before {
  height: 35%;
}
.review .bottom_line {
  width: 10%;
  right: 0;
}
.review__line {
  padding: 2.5rem 0;
}
.review__line:after {
  content: "";
  clear: both;
  display: block;
}
.review__left-column {
  float: left;
  width: 18rem;
  text-align: left;
  font-size: 1.6rem;
  padding-right: 4.5rem;
}
.review__left-column:first-line {
  font-weight: 700;
  font-size: 2rem;
}
.review__right-column {
  float: left;
  max-width: 47rem;
}
.post {
  position: relative;
}
.post__item {
  padding: 3rem 2.5rem 2rem;
}
.post__item::before,
.post__item::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
}
.draw:hover::after {
  transition: border-color 0s ease-out 0.8s, width 0.5s ease-out 0.8s, height 0.5s ease-out 1s;
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
}
.meet:hover::after {
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  transition: height 0.5s ease-out, width 0.5s ease-out 0.5s;
}
/*Application*/
.application {
  padding: 9rem 0 9.5rem 0;
}
.application__massage {
  color: #ffffff;
  padding: 1.5rem 0 3rem 0;
  text-align: center;
}
.application__form {
  width: 67rem;
  text-align: center;
  margin: 0 auto;
}
.application__column {
  width: 32rem;
  display: inline-block;
  margin-right: 1rem;
  vertical-align: top;
}
.application__cell {
  width: 32rem;
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;
}
.comment {
  padding: 1rem 0 4rem 1rem;
}
.button {
  height: 3.5rem;
  font-size: 2rem;
  color: #ffffff;
  background-color: #fad027;
  font-weight: 700;
  margin-top: 2rem;
  padding: 0 4rem;
  cursor: pointer;
}
/*Contacts*/
.contacts {
  padding-bottom: 6rem;
}
.map {
  position: relative;
}
ymaps,
ymaps canvas,
ymaps i,
ymaps input {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.contacts__info {
  background-color: #ffffff;
  position: absolute;
  top: 6rem;
  left: 25%;
  z-index: 5;
  padding: 4rem 5.5rem 3.5rem 5rem;
}
.info:first-of-type {
  margin-bottom: 3rem;
}
.info:first-line {
  font-weight: 700;
  font-size: 2.4rem;
}
/*Footer*/
.footer {
  text-align: center;
}
.copyright {
  color: #ffffff;
  font-size: 1.6rem;
}
/*Screen*/
@media screen and (min-width: 1020px) {
  .gallery {
    width: 102rem;
  }
}
@media screen and (max-width: 1020px) {
  .gallery__item {
    margin: 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 90rem;
  }
  .show-img {
    display: none;
  }
  .show-img {
    width: 50rem;
    position: absolute;
    top: 21%;
    left: 36%;
    border: 0.3rem solid #fad027;
  }
  .close {
    font-size: 8rem;
    color: #fad027;
    font-weight: 900;
    position: absolute;
    right: 2%;
    cursor: pointer;
  }
  img#largeImg {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }
  .container {
    min-width: 300px;
    padding: 1rem;
  }
  .container,
  .about-club__container {
    width: 96%;
  }
  /*header*/
  .header__logo {
    width: 100%;
    height: 100%;
    background-position-y: 2rem;
  }
  /*Main*/
  .content {
    width: 96%;
    padding: 1%;
  }
  .news__left-column,
  .event__left-column {
    width: 34%;
  }
  .news__right-column,
  .event__right-column {
    width: 50%;
  }
  .gallery,
  .application__column {
    width: 100%;
  }
  .gallery_wrap {
    padding: 5rem 0;
  }
  .event_poster {
    width: 85%;
  }
  .application__form {
    width: 96%;
    padding: 0 2%;
  }
  .application__column {
    margin-right: 0;
  }
  .application__cell {
    width: 97%;
  }
  /*Slider*/
  .slider__item {
    width: 320px;
    height: 40vh;
    background-size: contain;
    padding: 32rem 0 0;
  }
  .slider__item--inner {
    width: 50%;
  }
}
@media screen and (min-width: 801px) {
  .content {
    min-width: 800px;
    max-width: 1020px;
    margin: 0 auto;
  }
  .comment {
    max-width: 32rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
  .slider__item {
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  .slider__controls {
    top: 60%;
  }
}
@media screen and (min-width: 560px) and (max-width: 800px) {
  .header__logo {
    background-size: contain;
    background-position-x: center;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .slider__item {
    width: 500px;
  }
}
