/*Футер*/
.footer {
  height: 1rem;
  min-width: 100%;
  background-color: #aa74c4;
  padding: 2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.footer .container {
  padding: 0;
}
.copyright {
  color: #fff;
}
